#headerView
{
	display: flex;
	height: 40px;
}

#titleView
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: #7a86cb;
}

#buttons
{
	flex: 1;
	display: flex;
	justify-content: right;
}

.default, .selection
{
	cursor: pointer;
}

.selection
{
	background-color: #F9A41E;
}

h2
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: rgb(38,38,38, 0.75);
}

label {
	color: rgb(38,38,38, 0.75);
}

#tableau {
    width: 100%;   
}
/*
Set #tableau elements to block mode.  (Normally they are inline).
This allows a responsive #tableau, such as one where columns can be stacked
if the display is narrow.
*/
 #tableau, #tableau>thead, #tableau>tbody, #tableau>thead>tr, #tableau>tbody>tr, #tableau>thead>tr>th, #tableau>tbody>td {
    display: block;
}
#tableau>thead>tr:after, #tableau>tbody>tr:after {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
}

 #tableau>tbody {
    overflow-y: scroll;
    height: 400px;
    
}

 #tableau>thead {
    overflow-y: scroll;    
}

/*
We want to set <th> and <td> elements to float left.
We also must explicitly set the width for each column (both for the <th>
and the <td>).  We set to 20% here a default placeholder, but it can be
overridden elsewhere.
*/

#tableau>thead tr th
{
    float: left;    
	word-wrap:break-word;
	margin-top: 3px;     
}

#tableau>tbody tr td 
{
    float: left;    
	word-wrap:break-word;    
}
