#parameters{
    height: 600px;
}
#curveDiv {
    height: 90%;
}
#linechart{

}

.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1.5px solid #999999; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #7A86CB; color: #FFFFFF;
}
.onoffswitch-inner:after {
    padding-right: 5px;
    background-color: #999999; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 21px;
    border: 1.5px solid #999999; border-radius: 25px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
label {
	color: rgb(38,38,38, 0.75);
}
.statPeriod {
    margin-top: 40px;
}
.lineStat {
    margin-bottom: 15px;
    border-top: #F9A41E solid 1px;
}
p {
    margin: 0px;
}
.tab-pane {
    margin-top: 10px;
    display: flex;
}
h4 {
    color: rgb(38,38,38, 0.75);
}