{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "@TSRegister//layout.html.twig" %}


{% block body %}	

	<div class="welcome">
        <h2>Welcome to the demo version of <strong>OMEGA.PV</strong></h2>
        <h4>OMEGA.PV is a combined asset management tool and reporting tool.</h4>
        <h4>It is dedicated to the management photovoltaic power plants but could easily be used for other applications.</h4>
        <h4>This present version is for demonstration only. You can still play with some active functions.</h4>
        <h4>Enjoy !</h4>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
