.default, .selection
{
	cursor: pointer;
}

.comentTab
{
	text-align: left;
	background-color: rgb(245, 215, 168);
}

.selection
{
	background-color: #F9A41E;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-header::before, .modal-header::after {
	display: none;
}

#headerEvents {
	display: flex;
	height: 40px;
	justify-content: space-between;
	margin-bottom: 10px;
}

#titleEvents, label {
	color: rgb(38,38,38, 0.75);
}

input
{
	height: 35px;
}

h2 {
	margin-top: 0px;
}
#searchDiv div.dateInfo {
	display: none;
}
