{% extends "@App//layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tsreports/css/styleReports.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div class="welcome">
    <h3><strong>Sorry</strong>, this section in not available in Demo version</h3>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}