<div class="modal" id="editEventForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edition evenement</h4>
      </div>
      <div id="editForm">
      </div>
    </div>
  </div>
</div>