<div class="modal" id="editEventForm">
  <div class="modal-dialog">
    <div id="editForm" class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
          Vous n'avez rien sélectionné !
      </div>
      <div class="modal-footer">        
          <button class="btn btn-info" data-dismiss="modal">Annuler</button>  
      </div>
      
    </div>
  </div>
</div>