<div class="modal" id="newEventForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nouvel evenement</h4>
      </div>
      <div class="modal-body">
        {{ include("@TSRegister/Register/formNewEvent.html.twig") }}
      </div>
    </div>
  </div>
</div>