<div class="modal" id="removeEventForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove event</h4>
      </div>
      <div id="removeForm">
        <div class="modal-body">
            <h4>Sorry, removing event is not possible in Demo version</h4>
        </div>
        <div class="modal-footer">
            <form action="" id="removeform">
                <button id="removebtn" class="btn btn-danger" action="" disabled="true">Remove</button>
                <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>