<div class="modal" id="removeEventForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Supprimer evenement</h4>
      </div>
      <div id="removeForm">
        <div class="modal-body">
            <h3>Etes-vous certain de vouloir supprimer l'événement ?</h3>
        </div>
        <div class="modal-footer">
            <form action="" id="removeform">
                <button id="removebtn" class="btn btn-danger" action="">Supprimer</button>
                <button class="btn btn-info" data-dismiss="modal">Annuler</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>