body
{
	background-color: rgb(58,75,84);
}
.welcome {
	background-color: rgb(206, 212, 214);
	width: 40%;
	position: absolute;
	top: 30%;
	left: 30%;
	margin: auto;
	padding: 20px;
	box-shadow: 6px 6px 10px rgb(38,38,38);
}
.welcome strong {
	color: rgb(19, 96, 122);
}
a:hover {
	text-decoration: none;
}
#titre_principal
{
	background-color: rgb(38,38,38);
	display: flex;
	height: 60px;
	align-items: center;
}
#vignette
{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	
}
#titre
{
	font-family: inherit, sans-serif;
    font-size: 1.8em;
    font-weight: normal;
	color: whitesmoke;
	margin-left: 5px;
	margin-top: 7px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#logo
{
	margin-left: 20px;
	width: 30px;
}
input[type="date"].form-control {
	line-height: inherit;
}
#menu
{
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}
.nav-inline {
	display: flex;
}
#container
{
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}

.well
{
	background-color: rgb(206, 212, 214);
	border-color: rgb(100, 110, 114);
	color: rgb(38,38,38);
}

thead
{
	background-color:rgb(19, 96, 122);
	color: white;
}

tbody
{
	background-color: white;
}

td, th
{
	text-align: center;
}

td
{
	padding-right: 4px;
}

a {
	color: white;
}

#searchDiv {
	display: flex;
	align-items: flex-end;
}

#searchDiv div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bordered {
	border: white solid 1px;
}

.btn:hover {
	background-color: rgb(92, 198, 255);
}

li a {
	color: rgb(92, 198, 255);
}

.btn, .form-control {
	border-radius: 2px;
}

#searchDiv .control-label {
	width: 100%;
	text-align: center;
}