{% extends "@TSAssets//layout.html.twig" %}


{% block body %}	
	<section id="containerAssets">
		<div class='tree well col-md-2' id="clientsite">
			<h2>Clients</h2>
			{% for client in listClients %}
			<div class="parent">
				{{ client.clientName }}
				{% for site in client.sites %}
				<div id="{{ site.id }}" onclick="SelectSite(this)">
					{{ site.siteName }}
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
				
		<div class="well col-md-2" id="arborescence" style="display:none">
			<h2 id="nomSiteArbre"></h2>
			<div class='tree' id="architecture">
				
			</div>
		</div>
		
		<div class="well col-md-7" id="description" style="display:none">
		</div>
	</section>
	
{% endblock %}
